<body>
  <center class="wrapper">
    <table class="main">
      <tr>
        <td>
          <table width="100%" height="50" style="background-color: #0d0d0d">
            <tr>
              <td>
                <a href="">
                  <img src="cid:skeleton-logo" class="header-img" />
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- email body -->
      <tr>
        <td>
          <table class="email-content">
            <tr>
              <td>
                <h1 style="color: #0d0d0d">Dear <%= name %>,</h1>
                <p class="email-intro-par">
                  This Email was sent per a request to reset the password
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <hr />
              </td>
            </tr>
            <tr>
              <td>
                <p>To Reset your password please visit the following link</p>
                <p style="color: #0d0d0d">
                  <a href="<%= link +'auth/reset-password/' + token %>"
                    >Reset Password
                  </a>
                </p>
                <br />
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- email footer -->
    </table>
  </center>
</body>
